{% extends 'administrator/baseTemplate.html' %}
{% block navbar %}
    <li class="breadcrumb-item">Add Device</li>
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="POST" id="newDeviceForm" class="contact-form"
                      enctype='multipart/form-data'>{% csrf_token %}
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="name">Device Name
                                    <input class="form-control" value="" name="name" id="id_name"
                                           required
                                           type="text" size="40" maxlength="50">
                                </label>
                            </div>

                            <div class="col-md-4">
                                <label for="key">Key<input class="form-control" name="key" id="id_key"
                                                           required value="{{ randomHex }}"
                                                           type="text" size="40" maxlength="16">
                                </label>
                            </div>
                            <div class="col-md-4">
                                <label for="email">
                                    Type
                                    <select class="form-control" name="type" id="id_type" required
                                            style="width: 300px;">
                                        {% for choice in form.type.field.choices %}
                                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-4">
                                <label for="key">
                                    Data Frequency
                                    <select id="id_user" name="{{ form.dataFrequency.name }}" style="width: 300px;"
                                            class="form-control">
                                        {% for choice in form.dataFrequency.field.choices %}
                                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-4">
                                <label for="key">
                                    Farm
                                    <select id="id_user" name="{{ form.farm.name }}" style="width: 300px;"
                                            class="form-control">
                                        {% for choice in form.farm.field.choices %}
                                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-4" style="margin-top: 20px">
                                <label for="key">
                                    Image
                                    {{ form.picture }}
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" onclick="verify();">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function verify() {
            var name = $('#id_name').val();
            var key = $('#id_key').val();
            var selectedType = $("#id_type").children("option:selected").val();
            var selectedUser = $("#id_user").children("option:selected").val();
            if (name && key && selectedUser && selectedType) {
                $('#newDeviceForm').submit();
            } else {
                alert("Please Fill the Form !!!")
            }
        }
    </script>
{% endblock %}
