{% extends 'administrator/baseTemplate.html' %}
{% load static %}
{% block header %}Devices Info{% endblock %}
{% block pageHeader %}
<li class="breadcrumb-item"><a href="#">Add New Device</a></li>
{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title">All Devices | Select a device to see more details</h3>
                        <div class="card-tools">
                            <a href="#" class="btn btn-tool btn-sm">
                                <i class="fas fa-download"></i>
                            </a>
                            <a href="#" class="btn btn-tool btn-sm">
                                <i class="fas fa-bars"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <div class="container">
                            <table class="table table-fixed table-condensed" id="devicesTable" style="padding: 5px">
                                <thead>
                                    <tr>
                                        <th>Device Name</th>
                                        <th>Device ID</th>
                                        <th>Current Temp</th>
                                        <th>Last Seen</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for each in allData %}
                                    <tr style="cursor:pointer" id="row-{{each.id}}" onclick="loadData({{each.id}})">
                                        <td>
                                            {{each.name}}
                                        </td>
                                        <td>{{each.deviceId}}</td>
                                        <td id="currentTemp-{{each.id}}">{{each.temp}}</td>
                                        <td id="lastSeen-{{each.id}}">{{each.datetime}}</td>
                                        <td id="isActive-{{each.id}}">
                                            {% if each.isActive %}
                                            <span class="badge bg-success">Online</span>
                                            {% else %}
                                            <span class="badge bg-danger">Offline</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">Device Usage</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <p class="d-flex flex-column">
                                <span class="text-bold text-lg" id="chartHeading"></span>
                                <span>Temperature Trends Over Time</span>
                            </p>
                            <p class="ml-auto d-flex flex-column text-right">
                                <span class="text-danger" id="tempChange">
                                </span>
                                <span class="text-muted">Since last entry</span>
                            </p>
                        </div>
                        <!-- /.d-flex -->

                        <div class="position-relative mb-4">
                            <canvas id="sales-chart" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

{% endblock %}

{% block extraScripts %}
<script>
    let id = undefined;
    setInterval(function () {
        loadChart(id);
    }, 5000);
    $(document).ready(function () {
        $('#devicesTable').DataTable();
    });
    function loadData(rowId) {
        id = rowId;
        loadChart(id);
    }
    function loadChart(id) {
        if (!id)
            id = $("#devicesTable").closest('table').find(' tbody tr:first').attr('id').replace('row-', '');

        $.ajax({
            type: 'GET',
            url: `/freezerData/${id}`,
            // data: { start_date: yesterday, end_date: currentDate },
            dataType: 'json',
            beforeSend: function () {
                $('#row-' + id).css('background-color', '#ddd').siblings().css('background-color', 'white');
            },
            success: function (data) {
                const lastData = data[data.length - 1];
                $('#chartHeading').html(lastData.temp + " | Current Temp");
                $('#currentTemp-' + id).html(lastData.temp);
                $('#lastSeen-' + id).html(lastData.datetime);

                if (lastData.isActive)
                    $('#isActive-' + id).html(`<span class="badge bg-success">Online</span>`);
                else
                    $('#isActive-' + id).html(`<span class="badge bg-danger">Offline</span>`);

                $('#chartHeading').html(lastData.temp + " | Current Temp");
                console.log(data, lastData.change);
                if (lastData.change > 0) {
                    $('#tempChange').html(`<i class="fas fa-arrow-up"></i> +${lastData.change}%`).attr('class', 'text-danger');
                } else {
                    $('#tempChange').html(`<i class="fas fa-arrow-down"></i> ${lastData.change}%`).attr('class', 'text-success');
                }
                const datesArray = data.map((item) => item.datetime.toString());
                const tempArray = data.map((item) => item.temp);
                // const logArray = data.map((item) => item.log);
                salesChart.data.labels = datesArray;
                salesChart.data.datasets[0].data = tempArray;
                // salesChart.data.datasets[1].data = logArray;
                salesChart.update();
            },
            error: function (request, status, error) {
                // $.notify(request.responseJSON, "warn");
            }
        });
    }
    const ticksStyle = {
        fontColor: '#495057',
        fontStyle: 'bold'
    };

    const mode = 'index';
    const intersect = true;

    let salesChart = new Chart('sales-chart', {
        type: 'bar',
        data: {
            labels: [],
            datasets: [
                {
                    backgroundColor: '#007bff',
                    borderColor: '#007bff',
                    data: []
                },
                // {
                //     backgroundColor: '#ced4da',
                //     borderColor: '#ced4da',
                //     data: []
                // }
            ]
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
                mode: mode,
                intersect: intersect
            },
            hover: {
                mode: mode,
                intersect: intersect
            },
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    gridLines: {
                        display: true,
                        lineWidth: '4px',
                        color: 'rgba(0, 0, 0, .2)',
                        zeroLineColor: 'transparent'
                    },
                    ticks: $.extend({
                        beginAtZero: true,
                        callback: function (value) {
                            return value;
                        }
                    }, ticksStyle)
                }],
                xAxes: [{
                    display: true,
                    gridLines: {
                        display: false
                    },
                    ticks: ticksStyle
                }]
            }
        }
    });
    loadChart();

    var $visitorsChart = $('#visitors-chart');
    // eslint-disable-next-line no-unused-vars
    var visitorsChart = new Chart($visitorsChart, {
        data: {
            labels: ['18th', '20th', '22nd', '24th', '26th', '28th', '30th'],
            datasets: [{
                type: 'line',
                data: [100, 120, 170, 167, 180, 177, 160],
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                pointBorderColor: '#007bff',
                pointBackgroundColor: '#007bff',
                fill: false
            },
            {
                type: 'line',
                data: [60, 80, 70, 67, 80, 77, 100],
                backgroundColor: 'tansparent',
                borderColor: '#ced4da',
                pointBorderColor: '#ced4da',
                pointBackgroundColor: '#ced4da',
                fill: false
            }]
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
                mode: mode,
                intersect: intersect
            },
            hover: {
                mode: mode,
                intersect: intersect
            },
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    gridLines: {
                        display: true,
                        lineWidth: '4px',
                        color: 'rgba(0, 0, 0, .2)',
                        zeroLineColor: 'transparent'
                    },
                    ticks: $.extend({
                        beginAtZero: true,
                    }, ticksStyle)
                }],
                xAxes: [{
                    display: true,
                    gridLines: {
                        display: false
                    },
                    ticks: ticksStyle
                }]
            }
        }
    })

</script>
{% endblock %}