{% extends 'administrator/baseTemplate.html' %}
{% load static %}
{% block headerbar %}
    <h4 class="page-title">Dashboard</h4>
{% endblock %}
{% block content %}
    <!-- Chart-1 -->
    {% if allSensorData %}
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">PPM</h5>
                        <div id="ppmChart" style="height: 400px; padding: 0px; position: relative;">
                        </div>
                        <button class="btn btn-success" type="button" onclick="toLinePPM();" style="margin-left: 2%">
                            Line
                        </button>
                        <button class="btn btn-primary" type="button" onclick="toBarPPM();">Bar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">PH Level</h5>
                        <div id="phLevelChart" style="height: 400px; padding: 0px; position: relative;">
                        </div>
                        <button class="btn btn-success" type="button" onclick="toLinePhLevel();"
                                style="margin-left: 2%">
                            Line
                        </button>
                        <button class="btn btn-primary" type="button" onclick="toBarPhLevel();">Bar</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5>Water Temperature</h5>
                        <div id="waterTempChart" style="height: 250px;"></div>
                        <button class="btn btn-success" type="button" onclick="toLineWaterTemp();"
                                style="margin-left: 5%">Line
                        </button>
                        <button class="btn btn-primary" type="button" onclick="toBarWaterTemp();">Bar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Atmospheric Temperature</h5>
                        <div id="atmTempChart" style="height: 250px;"></div>
                        <button class="btn btn-success" type="button" onclick="toLineAtmTemp();"
                                style="margin-left: 5%">Line
                        </button>
                        <button class="btn btn-primary" type="button" onclick="toBarAtmTemp();">Bar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5>Humidity</h5>
                        <div id="humidityChart" style="height: 250px;"></div>
                        <button class="btn btn-success" type="button" onclick="toLineHumidity();"
                                style="margin-left: 5%">Line
                        </button>
                        <button class="btn btn-primary" type="button" onclick="toBarHumidity();">Bar</button>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Battery Level</h5>
                        <div id="batteryChart" style="height: 250px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Energy Consumption</h5>
                        <div id="energyConChart" style="height: 250px;"></div>
                        <button class="btn btn-success" type="button" onclick="toLineEnergyCon();"
                                style="margin-left: 5%">Line
                        </button>
                        <button class="btn btn-primary" type="button" onclick="toBarEnergyCon();">Bar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Water Level</h5>
                        <div id="waterLevelChart" style="height: 250px;"></div>
                        <button class="btn btn-success" type="button" onclick="toLinewaterLevel();"
                                style="margin-left: 5%">Line
                        </button>
                        <button class="btn btn-primary" type="button" onclick="toBarwaterLevel();">Bar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card" style="padding: 20px">
                    <div class="card-body">
                        <span>
                        <h5 class="card-title m-b-0">Table</h5>
                        </span>
                    </div>
                    <table class="table table-bordered" id="sensorDataTable">
                        <thead>
                        <tr>
                            <th>SR no</th>
                            <th>Time Stamp</th>
                            <th>PPM</th>
                            <th>Ph Level</th>
                            <th>Water Temp</th>
                            <th>Atmospheric Temp</th>
                            <th>Humidity</th>
                            <th>Battery</th>
                            <th>Energy Consumption</th>
                            <th>Water Level</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for each in allSensorData %}
                            <tr>
                                <td>{{ each.srNumber }}</td>
                                <td>{{ each.timeStamp }}</td>
                                <td>{{ each.ppm }}</td>
                                <td>{{ each.ph_level }}</td>
                                <td>{{ each.water_temperature }}</td>
                                <td>{{ each.atmospheric_temp }}</td>
                                <td>{{ each.humidity }}</td>
                                <td>{{ each.battery }}</td>
                                <td>{{ each.energy_consumption }}</td>
                                <td>{{ each.water_level }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    <script>
        $(document).ready(function () {
            $('#sensorDataTable').DataTable({
                dom: 'Bfrtip',
                lengthMenu: [
                    [10, 25, 50],
                    ['10 rows', '25 rows', '50 rows']
                ],
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print', 'pageLength'
                ]
            });
        });
        toLinePPM();
        toLinePhLevel();
        toLineWaterTemp();
        toLineAtmTemp();
        toLineHumidity();
        toLineEnergyCon();
        toLinewaterLevel();

        function toLinePPM() {
            $("#ppmChart").empty();
            new Morris.Line({
                element: 'ppmChart',
                data: [
                    {% for each in allSensorData %}
                        {
                            time: "{{each.timeStamp.year}}-{{ each.timeStamp.month }}-{{ each.timeStamp.day }} {{ each.timeStamp.hour }}:{{ each.timeStamp.minute }}:{{ each.timeStamp.second }}",
                            temp: {{each.ppm}}
                        },
                    {% endfor %}
                ],
                ymax: 9999,
                ymin: 0,
                xkey: 'time',
                ykeys: ['temp'],
                labels: ['PPM'],
                lineColors: ['#6e4ff5']
            });
        }

        function toBarPPM() {
            $("#ppmChart").empty();
            new Morris.Bar({
                element: 'ppmChart',
                data: [
                    {% for each in allSensorData %}
                        {
                            time: "{{each.timeStamp.year}}-{{ each.timeStamp.month }}-{{ each.timeStamp.day }} {{ each.timeStamp.hour }}:{{ each.timeStamp.minute }}:{{ each.timeStamp.second }}",
                            temp: {{each.ppm}}
                        },
                    {% endfor %}
                ],
                ymax: 9999,
                ymin: 0,
                xkey: 'time',
                ykeys: ['temp'],
                labels: ['PPM'],
                lineColors: ['#6e4ff5']
            });
        }

        function toLinePhLevel() {
            $("#phLevelChart").empty();
            new Morris.Line({
                element: 'phLevelChart',
                data: [
                    {% for each in allSensorData %}
                        {
                            time: "{{each.timeStamp.year}}-{{ each.timeStamp.month }}-{{ each.timeStamp.day }} {{ each.timeStamp.hour }}:{{ each.timeStamp.minute }}:{{ each.timeStamp.second }}",
                            temp: {{each.ph_level}}
                        },
                    {% endfor %}
                ],
                ymax: 14,
                ymin: 0,
                xkey: 'time',
                ykeys: ['temp'],
                labels: ['Ph Level'],
                lineColors: ['#6e4ff5']
            });
        }

        function toBarPhLevel() {
            $("#phLevelChart").empty();
            new Morris.Bar({
                element: 'phLevelChart',
                data: [
                    {% for each in allSensorData %}
                        {
                            time: "{{each.timeStamp.year}}-{{ each.timeStamp.month }}-{{ each.timeStamp.day }} {{ each.timeStamp.hour }}:{{ each.timeStamp.minute }}:{{ each.timeStamp.second }}",
                            temp: {{each.ph_level}}
                        },
                    {% endfor %}
                ],
                ymax: 14,
                ymin: 0,
                xkey: 'time',
                ykeys: ['temp'],
                labels: ['Ph Level'],
                lineColors: ['#6e4ff5']
            });
        }

        function toLineWaterTemp() {
            $("#waterTempChart").empty();
            new Morris.Line({
                element: 'waterTempChart',
                data: [
                    {% for each in allSensorData %}
                        {
                            time: "{{each.timeStamp.year}}-{{ each.timeStamp.month }}-{{ each.timeStamp.day }} {{ each.timeStamp.hour }}:{{ each.timeStamp.minute }}:{{ each.timeStamp.second }}",
                            temp: {{each.water_temperature}}
                        },
                    {% endfor %}
                ],
                ymax: 50,
                ymin: 0,
                xkey: 'time',
                ykeys: ['temp'],
                labels: ['Water Temperature'],
                lineColors: ['#6e4ff5']
            });
        }

        function toBarWaterTemp() {
            $("#waterTempChart").empty();
            new Morris.Bar({
                element: 'waterTempChart',
                data: [
                    {% for each in allSensorData %}
                        {
                            time: "{{each.timeStamp.year}}-{{ each.timeStamp.month }}-{{ each.timeStamp.day }} {{ each.timeStamp.hour }}:{{ each.timeStamp.minute }}:{{ each.timeStamp.second }}",
                            temp: {{each.water_temperature}}
                        },
                    {% endfor %}
                ],
                ymax: 50,
                ymin: 0,
                xkey: 'time',
                ykeys: ['temp'],
                labels: ['Water Temperature'],
                lineColors: ['#6e4ff5']
            });
        }

        function toLineAtmTemp() {
            $("#atmTempChart").empty();
            new Morris.Line({
                element: 'atmTempChart',
                data: [
                    {% for each in allSensorData %}
                        {
                            time: "{{each.timeStamp.year}}-{{ each.timeStamp.month }}-{{ each.timeStamp.day }} {{ each.timeStamp.hour }}:{{ each.timeStamp.minute }}:{{ each.timeStamp.second }}",
                            temp: {{each.atmospheric_temp}}
                        },
                    {% endfor %}
                ],
                ymax: 50,
                ymin: 0,
                xkey: 'time',
                ykeys: ['temp'],
                labels: ['Atmospheric Temperature'],
                lineColors: ['#6e4ff5']
            });
        }

        function toBarAtmTemp() {
            $("#atmTempChart").empty();
            new Morris.Bar({
                element: 'atmTempChart',
                data: [
                    {% for each in allSensorData %}
                        {
                            time: "{{each.timeStamp.year}}-{{ each.timeStamp.month }}-{{ each.timeStamp.day }} {{ each.timeStamp.hour }}:{{ each.timeStamp.minute }}:{{ each.timeStamp.second }}",
                            temp: {{each.atmospheric_temp}}
                        },
                    {% endfor %}
                ],
                ymax: 50,
                ymin: 0,
                xkey: 'time',
                ykeys: ['temp'],
                labels: ['Atmospheric Temperature'],
                lineColors: ['#6e4ff5']
            });
        }

        function toLineHumidity() {
            $("#humidityChart").empty();
            new Morris.Line({
                element: 'humidityChart',
                data: [
                    {% for each in allSensorData %}
                        {
                            time: "{{each.timeStamp.year}}-{{ each.timeStamp.month }}-{{ each.timeStamp.day }} {{ each.timeStamp.hour }}:{{ each.timeStamp.minute }}:{{ each.timeStamp.second }}",
                            temp: {{each.humidity}}
                        },
                    {% endfor %}
                ],
                ymax: 100,
                ymin: 0,
                xkey: 'time',
                ykeys: ['temp'],
                labels: ['Humidity'],
                lineColors: ['#6e4ff5']
            });
        }

        function toBarHumidity() {
            $("#humidityChart").empty();
            new Morris.Bar({
                element: 'humidityChart',
                data: [
                    {% for each in allSensorData %}
                        {
                            time: "{{each.timeStamp.year}}-{{ each.timeStamp.month }}-{{ each.timeStamp.day }} {{ each.timeStamp.hour }}:{{ each.timeStamp.minute }}:{{ each.timeStamp.second }}",
                            temp: {{each.humidity}}
                        },
                    {% endfor %}
                ],
                ymax: 100,
                ymin: 0,
                xkey: 'time',
                ykeys: ['temp'],
                labels: ['Humidity'],
                lineColors: ['#6e4ff5']
            });
        }

        function toLineEnergyCon() {
            $("#energyConChart").empty();
            new Morris.Line({
                element: 'energyConChart',
                data: [
                    {% for each in allSensorData %}
                        {
                            time: "{{each.timeStamp.year}}-{{ each.timeStamp.month }}-{{ each.timeStamp.day }} {{ each.timeStamp.hour }}:{{ each.timeStamp.minute }}:{{ each.timeStamp.second }}",
                            temp: {{each.energy_consumption}}
                        },
                    {% endfor %}
                ],
                ymax: 100,
                ymin: 0,
                xkey: 'time',
                ykeys: ['temp'],
                labels: ['Energy Consumption'],
                lineColors: ['#6e4ff5']
            });
        }

        function toBarEnergyCon() {
            $("#energyConChart").empty();
            new Morris.Bar({
                element: 'energyConChart',
                data: [
                    {% for each in allSensorData %}
                        {
                            time: "{{each.timeStamp.year}}-{{ each.timeStamp.month }}-{{ each.timeStamp.day }} {{ each.timeStamp.hour }}:{{ each.timeStamp.minute }}:{{ each.timeStamp.second }}",
                            temp: {{each.energy_consumption}}
                        },
                    {% endfor %}
                ],
                ymax: 100,
                ymin: 0,
                xkey: 'time',
                ykeys: ['temp'],
                labels: ['Energy Consumption'],
                lineColors: ['#6e4ff5']
            });
        }

        function toLinewaterLevel() {
            $("#waterLevelChart").empty();
            new Morris.Line({
                element: 'waterLevelChart',
                data: [
                    {% for each in allSensorData %}
                        {
                            time: "{{each.timeStamp.year}}-{{ each.timeStamp.month }}-{{ each.timeStamp.day }} {{ each.timeStamp.hour }}:{{ each.timeStamp.minute }}:{{ each.timeStamp.second }}",
                            temp: {{each.water_level}}
                        },
                    {% endfor %}
                ],
                ymax: 10,
                ymin: 0,
                xkey: 'time',
                ykeys: ['temp'],
                labels: ['Water Level'],
                lineColors: ['#6e4ff5']
            });
        }

        function toBarwaterLevel() {
            $("#waterLevelChart").empty();
            new Morris.Bar({
                element: 'waterLevelChart',
                data: [
                    {% for each in allSensorData %}
                        {
                            time: "{{each.timeStamp.year}}-{{ each.timeStamp.month }}-{{ each.timeStamp.day }} {{ each.timeStamp.hour }}:{{ each.timeStamp.minute }}:{{ each.timeStamp.second }}",
                            temp: {{each.water_level}}
                        },
                    {% endfor %}
                ],
                ymax: 10,
                ymin: 0,
                xkey: 'time',
                ykeys: ['temp'],
                labels: ['Water Level'],
                lineColors: ['#6e4ff5']
            });
        }

        new Morris.Bar({
            element: 'batteryChart',
            data: [
                {
                    time: "{{allSensorData.last.timeStamp.year}}-{{ allSensorData.last.timeStamp.month }}-{{ allSensorData.last.timeStamp.day }} {{ allSensorData.last.timeStamp.hour }}:{{ allSensorData.last.timeStamp.minute }}:{{ allSensorData.last.timeStamp.second }}",
                    temp: {{allSensorData.last.humidity}}
                },
            ],
            ymax: 100,
            ymin: 0,
            xkey: 'time',
            ykeys: ['temp'],
            labels: ['Battery'],
            lineColors: ['#6e4ff5']
        });
    </script>
{% endblock %}